<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="refresh" content="3" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="description"
      content="Opomulero - Your Trusted Partner in Real Estate. Explore innovative payment plans, co-ownership investment, savings, and land banking. Secure your dream property today."
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta property="og:title" content="Opomulero - Your Real Estate Partner" />
    <meta
      property="og:description"
      content="Explore innovative payment plans, co-ownership investment, savings, and land banking. Secure your dream property today."
    />
    <meta property="og:image" content="/images/thumb.png" />
    <!-- <meta property="og:url" content="URL_TO_YOUR_WEBSITE" /> -->
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <title>Opomulero Capitals</title>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/responsiveness.css" />
  </head>
  <body>
    <nav>
      <h2 class="logo">
        <img src="/images/logo.png" alt="logo" />
      </h2>
      <div class="menu-toggle" id="menuToggle">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

      <ul>
        <li><a href="">home</a></li>
        <li><a href="">about</a></li>
        <li><a href="">services</a></li>
      </ul>
      <a href="/user/login" class="btn"> login </a>
    </nav>
