<%-include('header')%>
<section class="page1">
  <div class="content">
    <div class="left">
      <h1>Welcome to Opomulero</h1>
      <article>
        where your dream of owning a piece of real estate becomes a reality
        through our innovative and flexible payment plans
      </article>
      <a href="/user/signup" class="btn" type="submit">Sign up now</a>
    </div>
    <div class="right">
      <img src="/images/new4.png" alt="" />
    </div>
  </div>
</section>
<section class="page2">
  <div class="left">
    <div class="sub">
      <h3>Little by Little Payment:</h3>
      <article>
        Our "Little by Little" payment plan is designed to ease the financial
        burden of acquiring your dream property. With Opomulero, you can make
        incremental payments over time, allowing you to comfortably build your
        investment without straining your budget. This gradual approach makes
        property ownership achievable for individuals who may not have a lump
        sum upfront.
      </article>
    </div>
    <div class="sub">
      <h3>Savings and Land Banking:</h3>
      <article>
        Opomulero introduces the concept of "Land Banking," a strategic way to
        save and invest in real estate. Secure your future by setting aside
        funds in a systematic manner, and watch your savings grow over time.
        With our expert guidance, you can invest your savings in carefully
        selected land assets, ensuring that your money works for you in the
        ever-appreciating real estate market.
      </article>
    </div>
    <!-- <div class="sub">
      <h3>Co-Ownership "Investment": :</h3>
      <article>
        Explore the benefits of co-ownership with Opomulero's innovative
        investment opportunities. Join forces with like-minded individuals to
        collectively invest in premium real estate projects. Co-ownership not
        only diversifies your investment portfolio but also offers shared
        responsibilities, making property ownership a collaborative and
        rewarding experience.
      </article>
    </div> -->
  </div>
  <div class="right">
    <img src="/images/home.jpg" alt="" />
  </div>
</section>
<section class="page3">
  <h2>
    Why Choose Opomulero
    <span><img src="/images/question.png" alt="" width="30px" style="display: inline;" /></span>
  </h2>
  <div class="inner">
    <div class="right">
      <img src="/images/darj.png" alt="" />
    </div>
    <div class="left">
      <div class="sub">
        <h2>
          <span class="num"> 1 </span>Flexibility :
            Tailored payment plans that suit your financial capacity.
        </h2>
      </div>
      <div class="sub">
        <h2>
          <span class="num"> 2 </span>Co-Ownership Opportunities:

            Collaborate with others to invest in high-value properties.
        </h2>
      </div>

      <div class="sub">
        <h2>
          <span class="num"> 3 </span>Land Banking:
  
            Grow your savings with strategic real estate investments.
        </h2>
      </div>
      <div class="sub">
        <h2>
          <span class="num"> 4</span>Expert Guidance:
  
            Benefit from our experienced team to make informed investment
            decisions.        </h2>
      </div>

      <div class="sub">
        <h2>
          <span class="num"> 5</span> Transparent Process:
 
            Clear and straightforward processes for a hassle-free
            experience.        </h2>
      </div>
    </div>
  </div>
</section>
<section class="page4">
  <div class="right">
    <img src="/images/blob.png" alt="" />
  </div>
  <div class="left">
  <div>   <div class="sub">
      <h3>Secure Your Future with Opomulero</h3>
      <article>
       Discover the difference of partnering with Opomulero. Together, we'll navigate the real estate landscape, ensuring your investment aligns with your aspirations. Your future security is not just a goal for us; it's a commitment we uphold.
      </article>
    </div>
  </div>
   <div class="sub2">
      <h3>The Opomulero Advantage</h3>
      <article>
     What sets Opomulero apart is our dedication to your success. We blend expertise with a personalized approach, offering you a unique real estate experience. Join us and experience a journey where your dreams find a home.
      </article>
    </div>
</section>


<%-include('footer')%>
